<body>
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="landing_intro.html">소개</a></li>
            <li><a href="generic.html">교회생활</a></li>
            <li><a href="elements.html">영아부 사랑3반</a></li>
            <li><a href="elements.html">앞으로의 비전</a></li>
        </ul>
        <ul class="actions stacked">
            <li><a href="#" class="button primary fit">Get Started</a></li>
            <li><a href="#" class="button fit">Log In</a></li>
        </ul>
    </nav>
</body>
